.btn {
    font-family: var(--default-font);
    background-color: var(--slider);
    color: white;
    border: 1px solid var(--slider);
    border-radius: 7px;
    padding: 6px 21px;
    font-size: 14px;
    width: fit-content;
    /* max-width: 220px; */
    /* height: 50px; */
    cursor: pointer;
    outline: none;
}

.btn-calc{
        font-family: var(--default-font);
    background-color: var(--slider);
    color: white;
    border: 1px solid var(--slider);
    border-radius: 0px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    max-width: 258px;
    /* height: 50px; */
    cursor: pointer;
    outline: none;
}



/* Darker background on mouse-over */
.btn:hover {

  outline: none;
  background-color: white;
  border:1px solid var(--slider);
  color: var(--slider);
  transition: 0.4s;
  transform: scale(0.9);
}







@media screen and (max-width: 600px) {
 

}